/*base*/
:root{
    --celeste: rgb(143, 60, 221);
    --color2: rgb(202, 202, 202);
}
body{
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: var(--color2);
}
a{
    
    text-decoration: none;
    color: black;
}


.navarriba{
    position: sticky;
    top: 0;
    height: calc(100vh - 91vh);
    background-color: var(--celeste);
    margin: 0;
    display: flex;
    justify-content: space-between;
    
}
.navarriba .logo{
    display: flex;
    margin: 0 0 0 10px;
}
.navarriba .usuario{
    display: flex;
    margin: 0 10px 0 0;
}
.navarriba .usuario div div{
    margin-bottom:0 ;
    cursor: pointer;
    
}
.navarriba .usuario div div{
    display: flex;
}
.navarriba .usuario div div img{
    margin-top:22px;

}

.usuario p{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 0 ;
}
.botonCerrarSesion{
    border: none;
    background-color: none;    
    background-color: var(--celeste);
    cursor: pointer;
    font-size: 19px;
}
.botonCerrarSesion:hover{
    background-color: var(--color2);
}
.desplegableusuario:hover{
    background-color: var(--color2);
}

.desplegableusuario{
    position: absolute;
    background-color: var(--celeste);   
    cursor: pointer;
    display: none;
   
}
.activardesplegableusuario{
    display: flex;
    flex-direction: column;  
}
.activardesplegableusuario button{
    padding-right: auto;
}


.contenedor{
    display: grid;
    grid-template-columns: 18% 82% ;
}
.nav{
    background-color: var(--celeste);
    height: 91vh;
    position:sticky;
    overflow: hidden;
    top: 0;
}
.nav:hover{
    overflow: auto;
}
.contenido{  
    height: 91vh;
    padding: 0 20px;
    overflow:auto;
    background-color: var(--color2);
   
}
.contenedor ::-webkit-scrollbar{
    width: 0px;   
}
.contenedor ::-webkit-scrollbar-thumb{
    background-color: var(--celeste); 
    border-radius: 5px;
}

#boton{
    padding-bottom: 0;
}
#boton p{
    margin-top: 22px;
}
.center{
    display: flex;
    justify-content: center;
}
.activemas{
    background-color: var(--color2);
}
.espacioy p{
    margin: 10px 0;
    padding-left: 5px;
}


.inicio{
    margin-bottom: 5px;
}
.activardesplegableusuario button{
    display: flex;
    padding-right: 5vw;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navega box-icon{
    margin-right: 10px;
}
.navega a box-icon{
    position: relative;
    bottom: 5px;
}
.inicio a box-icon{
    position: relative;
    top: 2px;
}
.navega span p box-icon{
    position: relative;
    top: 4px;
}


.titulo{
    display: flex;
    justify-content: center;
    color: rgb(94, 94, 94);
 }
 .titulo h1{
     margin-bottom: 15px;
 }
 
 /*fromulario*/
 
 .registroadmin{
     
     border: 2px solid black;
     border-radius: 5px;
     padding: 0;
     width: 40%;
     padding: 30px;
     margin: 0 0 10px 0; 
     display: flex;
     flex-direction: column;
    justify-items: center;
 }
 .registroadmin form{
     display: flex;
     flex-direction: column;   
     margin: 0;   
     border-radius:10px ;
     font-size: large; 
     width: 100%;  
 }
 .registroadmin form input{
     margin-bottom: 20px;
     border-radius:5px ;
     padding: 5px;
 }
 .registroadmin form select{
     margin-bottom: 20px;
     border-radius: 5px;
     padding: 5px;
 }
 
 .registroadmin form button{
     font-size: large;
     background-color: rgb(117, 117, 117);
     cursor: pointer;
     border-radius: 5px;
 }
 .registroadmin form button:hover{
     background-color: rgb(78, 78, 78) ;
 }
 .registroadmin form input[type="file"]{
     background-color: antiquewhite;
     padding: 0;
     cursor: pointer;
 }
 
 #img::-webkit-file-upload-button {
     background-color: rgb(116, 116, 116);
     border-radius: 5px;
     padding: 5px;
     cursor: pointer;
 }
 .centrar{
     display: flex;
     padding: 4px 0 4px 3vw;
     
 }
 /*tabla*/
 
 .tabla{
     display: flex;
     justify-content: center;
 }
 .tabla table tr th,td{
     border: black solid 2px;
     padding: 10px;
     text-align: center;
     
 }
 .tabla table {
    border-collapse: collapse;
     border-radius: 4px;
 }
 .tabla table tr th {
    background-color: rgb(63, 182, 221);
 }
 .inicio{
     padding-left: 5px;
 }
 .boton{
    font-size: large;
     background-color: rgb(117, 117, 117);
     cursor: pointer;
     border-radius: 5px;
 }
 .boton:hover{
    background-color: rgb(78, 78, 78) ;
 }
 
 .inicio:hover{
     background-color: rgb(209, 209, 209);
 }
 .navega a:hover{
     background-color: rgb(209, 209, 209);
 }
 .navega span{
     cursor: pointer;
 }
 #imagen{
     position: relative;
     top: 1px;
     width: 15px;
 }
 select{
     cursor: pointer;
     
 }
 
 .activemass{
     background-color: white;
 }
 .logo img{
     margin-right: 7px ;
 }
 
 .atras{
     margin-top: 10px;
 }
 .atras a:hover{
     color: rgb(105, 105, 105);
 }
 
 
 
 .busqueda{  
    border: 2px solid black;
    border-radius: 5px;   
    padding: 10px;
}
.busqueda form button{
    font-size: large;
    background-color: rgb(117, 117, 117);
    cursor: pointer;
    border-radius: 5px;
}
.busqueda form select{
    margin-left: 0;
    border-radius: 5px;
    padding: 5px 10px 5px 5px;
    margin-right: 15px;
    cursor: pointer;
}

.flex{
    display: flex;
    justify-content: center;
}
.busqueda form input{
    border-radius:5px ;
    padding: 5px 10px 5px 5px;
}
.busqueda form button:hover{
    background-color: rgb(78, 78, 78) ;
}

/*card*/
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    height: 77vh;
}


.card{
    width: 500px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 5px 5px 0;
}
.card img{
    width: 500px;
}

.card:hover{
    box-shadow: 5px 5px black 2px;
}


.span{
    color: black;
}

/*animado inicio*/

.animado {
    
    background: rgb(41, 41, 41);
    color: rgba(255, 255, 255, 0.452);
    text-align: center;
    margin: 0;
    
  }
  
  .animado p {
    text-transform: uppercase;
    display: inline-block;
    border: 4px double rgba(255, 255, 255, 0.25);
    border-width: 4px 0;
    padding: 1.5em 0em;
  }
  .animado p span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    display: block;
    margin: 0 auto;
    /* Clip Background Image */
    background: url(wallpaperbetter.com_1600x900.jpg) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 7s linear infinite;
    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  
  /* Animate Background Image */
  @-webkit-keyframes aitf {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  .medio{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paginacion{
    margin: 40px;
  }
  .paginacion a{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin-left: 10px;
    background-color: var(--celeste);
  }
/*alerta*/

.alerta{
    margin: 0;
    background-color: rgba(0, 128, 0, 0.76);
    position: absolute;
    z-index: 100;  
    top: 60px;
    
}
.alerta p{
    margin: 20px;
}
.alerta p box-icon{
    position: relative;
    top: 5px;
    margin-right: 5px;
}
#espacioA{
    display: flex;
    justify-content: flex-end;
}
.alertamal{
    margin: 0;
    background-color: red;
    position: absolute;
    z-index: 100;  
    top: 60px;
    
}
.alertamal p{
    margin: 20px;
}
.alertamal p box-icon{
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.letraform{
    font-size: 14px;
    color: red;
}
